<mat-sidenav-container class="sidebar-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="isSideBarOpened" class="sidebar">
      <div class="user">
        <div class="user-icon">
          <mat-icon>search</mat-icon>
        </div>
        <ng-container *ngIf="isLoading; else content">
          <div class="loading-message">
            Loading user information...
          </div>
        </ng-container>
        <ng-template #content>
          <ng-container *ngIf="userInfo; else noUserInfo">
            <div class="user-info">
              <h2 class="username">{{ userInfo.name }}</h2>
              <p class="email">{{ userInfo.email }}</p>
            </div>
          </ng-container>
        
          <ng-template #noUserInfo>
            <div class="no-user-message">
              No user information available.
            </div>
          </ng-template>
        </ng-template>
        
      </div>
      <mat-divider></mat-divider>
      <div class="links-container">
        <ul>
          <li><a mat-button routerLink="/home" routerLinkActive="home">Home</a></li>
          <li><a mat-button routerLink="/about" routerLinkActive="about">About</a></li>
        </ul>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>