<mat-toolbar color="primary mat-toolbar">
  <button mat-icon-button (click)="isSideBarOpened = !isSideBarOpened">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Dashboard</span>
  <span class="item-spacer"></span>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <app-side-bar [isSideBarOpened]="isSideBarOpened"></app-side-bar>
</div>
